@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --lightCyan: hsl(193, 38%, 86%);
 --neonGreen: hsl(150, 100%, 66%);
 --grayishBlue:hsl(217, 19%, 38%);
 --darkGrayishBlue: hsl(217, 19%, 24%);
 --darkBlue: hsl(218, 23%, 16%);
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--darkBlue);
}

*{
  box-sizing: border-box;
}
@layer components{
  .main{
    @apply flex justify-center
  }
  .AdviceContainer{
    @apply bg-darkGrayishBlue w-72 h-fit mx-3 mt-24 rounded-md flex flex-col 
      
  }
  .TextContainer{
    @apply flex flex-col gap-5 justify-center items-center mt-10
  }
  .TextContainer p{
    @apply text-neonGreen text-[12px] font-light tracking-[3px]
  }
  .TextContainer span{
    @apply text-lightCyan tracking-widest text-[21px] text-center mx-2.5
  }
  .Divider{
    @apply self-center pt-5
  }
  .RandomBtn{
    @apply self-center bg-neonGreen p-4 rounded-full relative top-6 hover:shadow-3xl 
  }
}
